
  :root{
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
    font-family: 'Nunito Sans', sans-serif;

  }
  @media (max-width: 481px){
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }
      
    header h1 {
      color: var(--brand-primary);
      font-size: 20px;
      line-height: 1.1;
    }
      
    .button-container {
      display: flex;
      gap: 10px; /* Add some spacing between the buttons */
      font-size: 20px;
      line-height: 1.1;
    }

    div button{
      display: flex;
      font-size: 20px;
      line-height: 1.8;
      border: solid var(--lines-color);
      border-radius: 12px;
      background-color: var(--bg_default);
      border-color: var(-);
      border-width:1px;  
    }     
      
    .icons{
      padding-top: 6%;
    }

    .tr {
      width: 100%;    
      position: relative;
      overflow: hidden;
    }

    .tr:Before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20%;
      background-color: var(--brand-secondary);
      transform-origin: 100% 100%;
      transform: rotate(5deg);
    }

    .tr:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20%;
      background-image: linear-gradient(to right, var(--brand-primary) , var(--brand-secondary) );
      transform-origin: 0% 100%;
      transform: rotate(355deg);
    }
      
    article h1{
      color: var(--brand-secondary);
    }
    /* Define a class for the colored article */
    article{
      display: flex;
      flex-direction: column; /* Stack elements vertically */    
      padding-left: 20px;
      padding-bottom: 10px;
      /* height: 100vh;*/
    }

    section{
      background-color: var(--bg_body);
    }

    .search-result{
      margin-left: 25px;
    }

    .search-sort-filt{
      display: flex;
      flex-direction: column; /* Stack elements vertically */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      background-color: var(--bg_body);        
      padding: 5%;
    }
    .div-cont{
      display: flex;
      padding-left: 20%;
      max-width: 400px;
      width: 100%;
    }

    /* Hide the dropdown content by default */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 300px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;    
    }
  
    .search-form{
      display: flex;
      flex-flow: row wrap
    }
    .search{
      padding-top: 10px;
      padding-bottom: 10px;     
      border:  var(--lines-color);
      border-radius: 12px 12px 0px 0px;
      font-size: 20px;        
      flex: 0 0 100%;
      max-width: 100%;
      width: 90%;
      box-shadow: 4px 0px 10px var(--lines-color), -4px 4px 8px var(--lines-color);
    }
     /* Style the button to look like a dropdown button */
    .sort-dropbtn {
      background-color: var(--bg_default);
      color: var(--body-text);
      padding-left: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
      
      border-top:solid var(--lines-color);
      border-right: solid var(--lines-color);
      border-radius: 0px 0px 0px 12px;
      border-bottom: var(--lines-color);
      cursor: pointer;
      box-shadow: -4px 4px 8px var(--lines-color);
      
      width: 100%;
      flex: 0 0 50%;
    }
    .filter-dropbtn {
      background-color: var(--bg_default);
      color: var(--body-text);
      padding-left: 16px;
      padding-top: 10px;
      padding-bottom: 10px;

      font-size: 20px;
      
      border-top:solid var(--lines-color);
      
      border-radius: 0px 0px 12px 0px;
      border-bottom: var(--lines-color);
      cursor: pointer;
      
      box-shadow:  4px 4px 8px var(--lines-color);
      width: 100%;
      flex: 0 0 51%;
    }
    .default{
      font-size:25px ;
    }
  
    .dropdown{
      display: flex;
      width: 100%;
    }
    .topic-image{
      flex: 0 0 100%;
      max-width: 100%;
      border-radius: 12px 12px 0px 0px;
    }
    .web-topic{
      background-color: var(--bg_default);
      margin-left: 25px;
      margin-right: 25px;   
      border-radius: 12px;
    }
    .topic-header{
      margin-left: 15px;
    }
    .stars-cont{
      margin-left: 15px;
    }
    .checked {
      color: orange;
    }
    .head{
      margin-bottom: 50px;
    }
    .Author{
      padding-bottom: 10px;
      margin-left: 15px;
    }
}
  

  /* Styles for screens between 481 px an768px wide */
  @media (min-width: 481px) and (max-width: 768px){
    header{
        /*display: inline;*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    header h1{
        color: var(--brand-primary);
        font-size: 30px;
        line-height: 1.4;
    }
    .button-container {
        display: flex;
        gap: 10px; /* Add some spacing between the buttons */
        font-size: 30px;
        line-height: 1.4;
      }            
     /* Define a class for the colored article */
     article{
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
   /* height: 100vh;*/
     }
     div button{
      display: flex;
      font-size: 20px;
      line-height: 1.8;
      border: solid var(--lines-color);
      border-radius: 12px;
      background-color: var(--bg_default);
      border-color: var(-);
      border-width:1px; 
    }
    .icons{
      padding-top: 6%;    
    }
    
     /*
     article h1{
        color: var(--brand-secondary);
        font-size: 30px;
        line-height: 1.4;
      }
      article p{
        color: var(--body-text);
        font-size: 30px;
        line-height: 1.4;
      }*/
      
    .tr {
      width: 100%;    
      position: relative;
      overflow: hidden;
    }

    .tr:Before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background-color: var(--brand-secondary);
      transform-origin: 100% 100%;
      transform: rotate(2deg);
    }

    .tr:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background-image: linear-gradient(to right, var(--brand-primary) , var(--brand-secondary) );
      transform-origin: 0% 100%;
      transform: rotate(358deg);
    }

    .search-sort-filt{
      display: flex;
      flex-direction: column; /* Stack elements vertically */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      background-color: var(--bg_body);        
      padding: 50px;
    }
    .search-form{
      display: flex;
      width: 100%;
      margin: 0 auto;
      
    }
    .search{
          
      border:  var(--lines-color);
      border-radius: 12px 0px 0px 12px;
      font-size: 20px;              
      box-shadow: 0px 4px 8px var(--lines-color), -4px -4px 8px var(--lines-color);
      width: 100%;
    }
    .dropdown{
      display: flex;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 300px;
      
      z-index: 1;    
    }

    .sort-dropbtn {
      background-color: var(--bg_default);
      color: var(--body-text);
      padding-left: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
      
      
      border-right: solid var(--lines-color);
      border-radius: 0px 0px 0px 0px;
      
      cursor: pointer;
      box-shadow: 0px 4px 8px var(--lines-color), 0px -2px 8px var(--lines-color);
      
      width: 100%;
      flex: 0 0 50%;
    }
    .filter-dropbtn {
      background-color: var(--bg_default);
      color: var(--body-text);
      padding-left: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
      border-radius: 0px 12px 12px 0px;
      cursor: pointer;
      box-shadow:  4px 4px 8px var(--lines-color), 0px -4px 8px var(--lines-color);
      width: 100%;
      flex: 0 0 51%;
    }

    section{
      background-color: var(--bg_body);
    }

    .search-result{
      margin-left: 50px;
      padding-bottom: 30px;
    }
    .topics{
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap to the next row */
      gap: 10px; /* Add some gap between items */
      overflow-x: auto; /* Add horizontal scrollbar if content overflows horizontally */
      overflow-y: auto;
      width: 100%; /* Set a fixed width for the div (adjust as needed) */
      height: 1000px; /* Set a fixed height for the div (adjust as needed) */
      white-space: nowrap; /* Prevent content from wrapping to new lines */
       /* Add both vertical and horizontal scrollbars if content overflows */
       margin-left: 30px;
    }
    .topics::-webkit-scrollbar {
      width: 8px; /* Set the width of the scrollbar (adjust as needed) */
    }
    
    /* Track (the area on which the thumb moves) */
    .topics::-webkit-scrollbar-track {
      background: transparent; /* Set the track background color */
    }
    
    /* Thumb (the part that you can drag) */
    .topics::-webkit-scrollbar-thumb {
      background: var(--bg_body); /* Set the thumb background color */
      border-radius: 4px; /* Add some border-radius for a rounded appearance */
    }
    
    /* On hover, make the scrollbar visible */
    .topics:hover::-webkit-scrollbar-thumb {
      background: #888; /* Change the thumb background color on hover */
    }
    .web-topic{
      width: calc(20% - 10px); /* Set a fixed width for each item */
      display: inline-block;
      
      
      box-sizing: border-box; /* Include padding and border in item width */

      background-color: var(--bg_default);
      margin-left: 25px;
      margin-right: 25px;   
      border-radius: 12px;
      padding-bottom: 0px;
    }
    .topic-image{
      flex: 0 0 100%;
      max-width: 100%;
      border-radius: 12px 12px 0px 0px;
    }
    .topic-header{
      margin-left: 10px;
      font-size: 1vw;
      
    }
    .stars-cont{
      margin-left: 10px;
      
    }
    .stars-cont .fa-star {
      font-size: 55%; /* Set the desired size for the stars */
    }
    .checked {
      color: orange;
    }
    .head{
      margin-bottom: 25px;
    }

    .Author{
      
      margin-left: 10px;
      
      font-size: 55%;
    }

  }
  
  /* Styles for screens 768px wide and bigger */
  @media (min-width: 768px){
    body{
      margin:0;
      padding:0;
      box-sizing: border-box;
    }
    header{
      margin:0;
      padding:0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      margin-top: 0%;
      box-sizing: border-box;    
        
    }
    header h1{
      color: var(--brand-primary);
      font-size: 40px;
      line-height: 1.8;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 45px;
      font-family: 'Nunito Sans', sans-serif;
    }
    .button-container {
      display: flex;
      gap: 10px; /* Add some spacing between the buttons */
      font-size: 20px;
      line-height: 1.8;
      margin-right: 50px;
    }
    div button{
      display: flex;
      font-size: 20px;
      line-height: 1.8;
      border: solid var(--lines-color);
      border-radius: 12px;
      background-color: var(--bg_default);
      border-color: var(-);
      border-width:1px; 
    }
    .icons{
      padding-top: 6%;    
    }
    article h1{
      color: var(--brand-secondary);
      margin-bottom: 3px;
    }
     /* Define a class for the colored article */
    article{
      display: flex;
      flex-direction: column; /* Stack elements vertically */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      /* height: 100vh;*/
    }
    .tr {
      width: 100%;    
      position: relative;
      overflow: hidden;
    }

    .tr:Before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background-color: var(--brand-secondary);
      transform-origin: 100% 100%;
      transform: rotate(2deg);
    }

    .tr:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background-image: linear-gradient(to right, var(--brand-primary) , var(--brand-secondary) );
      transform-origin: 0% 100%;
      transform: rotate(358deg);
    }

    .search-sort-filt{
      display: flex;
      flex-direction: column; /* Stack elements vertically */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      background-color: var(--bg_body);        
      padding: 50px;
    }
    .search-form{
      display: flex;
      width: 100%;
      margin: 0 auto;
      
    }
    
    .dropdown{
      display: flex;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 300px;
      
      z-index: 1;    
    }

    .search{
          
      border:  var(--lines-color);
      border-radius: 12px 0px 0px 12px;
      font-size: 20px;              
      box-shadow: 0px 4px 8px var(--lines-color), -4px -4px 8px var(--lines-color);
      width: 100%;
      flex: 0 0 70%;
    }
    .sort-dropbtn {
      background-color: var(--bg_default);
      color: var(--body-text);
      padding-left: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
      display: inline-block;
      
      border-right: solid var(--lines-color);
      border-radius: 0px 0px 0px 0px;
      
      cursor: pointer;
      box-shadow: 0px 4px 8px var(--lines-color), 0px -2px 8px var(--lines-color);
      
      width: 100%;
      flex: 0 0 60%;
    }
    .filter-dropbtn {
      background-color: var(--bg_default);
      color: var(--body-text);
      padding-left: 16px;
      padding-top: 10px;
      padding-bottom: 10px;

      font-size: 20px;
      display: inline-block;
      
      
      border-radius: 0px 12px 12px 0px;
      
      cursor: pointer;
      
      box-shadow:  4px 4px 8px var(--lines-color), 0px -4px 8px var(--lines-color);
      width: 100%;
      flex: 0 0 60%;
    }
    
    
    

    section{
      background-color: var(--bg_body);
    }

    .search-result{
      margin-left: 50px;
      padding-bottom: 30px;
    }
    .topics{
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap to the next row */
      gap: 10px; /* Add some gap between items */
      overflow-x: auto; /* Add horizontal scrollbar if content overflows horizontally */
      overflow-y: auto;
      width: 97%; /* Set a fixed width for the div (adjust as needed) */
      height: 1000px; /* Set a fixed height for the div (adjust as needed) */
      white-space: nowrap; /* Prevent content from wrapping to new lines */
       /* Add both vertical and horizontal scrollbars if content overflows */
       margin-left: 30px;
    }
    .topics::-webkit-scrollbar {
      width: 8px; /* Set the width of the scrollbar (adjust as needed) */
    }
    
    /* Track (the area on which the thumb moves) */
    .topics::-webkit-scrollbar-track {
      background: transparent; /* Set the track background color */
    }
    
    /* Thumb (the part that you can drag) */
    .topics::-webkit-scrollbar-thumb {
      background: var(--bg_body); /* Set the thumb background color */
      border-radius: 4px; /* Add some border-radius for a rounded appearance */
    }
    
    /* On hover, make the scrollbar visible */
    .topics:hover::-webkit-scrollbar-thumb {
      background: #888; /* Change the thumb background color on hover */
    }
    .web-topic{
      width: calc(20% - 10px); /* Set a fixed width for each item */
      
      
      
      box-sizing: border-box; /* Include padding and border in item width */

      background-color: var(--bg_default);
      margin-left: 25px;
      margin-right: 25px;   
      border-radius: 12px;
    }
    .topic-image{
      flex: 0 0 100%;
      max-width: 100%;
      border-radius: 12px 12px 0px 0px;
    }
    .topic-header{
      margin-left: 15px;
    }
    .stars-cont{
      margin-left: 15px;
    }
    .stars-cont .fa-star {
      font-size: 55%; /* Set the desired size for the stars */
    }
    .checked {
      color: orange;
    }
    .head{
      margin-bottom: 50px;
      font-size: 1vw;
    }

    .Author{
      padding-bottom: 10px;
      margin-left: 15px;
      font-size: 1vw;
    }

}
